:root {
    --primary-black: #333;
    --primary-font: 'Roboto', sans-serif;
}

body {
    color: var(--primary-black);
    font-family: var(--primary-font);
    text-align: center;
}

.title {
    font-size: 4rem;
    margin-bottom: 0;
}

.head-para {
    font-size: 1.5rem;
    margin-top: 0;
}

header {
    margin-bottom: 40px;
}

main {
    display: flex;
}

main > div {
    width: 100%;
    padding: 5px;
}

main h2 {
    margin-bottom: 35px;
}

button {
    border: none;
    border-radius: 15px;
    background-color: var(--primary-black);
    color: white;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 15px;
    height: 50px;
    width: 180px;
}

button:hover {
    cursor: pointer;
}

.grid-container {
    border: 1px solid var(--primary-black);
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 540px;
    width: 540px;
}

.grid-row {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.grid-square {
    flex: auto;
    background-color: coral;
    border: 1px solid var(--primary-black);
}

.square-drawn {
    background-color: black;
}